<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mediscreen</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
</head>

<body>
<div class="container">
    <h1><a th:href="@{/}">Application Mediscreen</a></h1>
    <h2>Practitioner note</h2>


    <div class="row">
        <form action="#" th:action="@{/patHistory/add/{patId}(patId=${patId})}" th:object="${practitionerNoteBean}" method="post" class="form-horizontal" style="width: 100%">
            <!-- fields -->
            <div class="form-group" style="padding:  15px 15px 0px 15px">
                <label for="content">Comments</label>
                <textarea class="form-control" th:field="*{content}" id="content" placeholder="Leave a comment here" style="height: 100px"></textarea>
                <p class="text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
            </div>

            <p></p>

            <!-- buttons -->
            <div class="form-group">
                <div class="col-sm-12">
                    <a class="btn btn-danger btn-sm" th:href="@{/patHistory/{patId}(patId=${practitionerNoteBean.patId})}">Cancel</a>
                    <input class="btn btn-primary btn-sm" type="submit" value="Create">
                </div>
            </div>
        </form>
    </div>

</div>
<script type="text/javascript" src="http://localhost:8080/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
</body>
</html>